.container {
  width: 400px;
  margin-top: 70px;
  padding: 0 20px;
}

.about {
  width: 100%;
}

.btn, .btn-smaller {
  width: 100%;
}

.btn-smaller {
  height: 20px;
}

.output {
  margin-top: 40px;
}

#output-path {
  font-weight: bold;
}

.btn-s, .btn-ss {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ss {
  width: 50%;
}

#hidden-app {
  position: fixed;
  width: 100%;
  top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}